@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

header nav.navbar .container-fluid .navbar-collapse ul li {
  margin: 0 30px;
}
header nav.navbar .container-fluid .navbar-collapse ul li a {
  font-size: 20px;
}
header nav.navbar .container-fluid .navbar-collapse ul li.nav_group {
  display: flex;
  align-items: center;
}
header nav.navbar .container-fluid .navbar-collapse ul li.nav_group a.bar {
  margin-left: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
}

.slider .carousel-inner .carousel-item {
  height: 60vh;
}

.product {
  margin-top: 50px;
}
.product .product_item .product_img {
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: solid 1px #f0eeee;
  border-radius: 12px;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .product .product_item .product_img {
    height: 400px;
  }
}
.product .product_item .product_img a img {
  width: 100%;
  transition: all 0.5s;
}
.product .product_item .product_img a img:hover {
  transform: scale(1.15); /* Tăng kích thước khi hover */
  cursor: pointer;
}
.product .product_item .product_content {
  text-align: center;
}
.product .product_item .product_content a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s;
}
.product .product_item .product_content a:hover {
  cursor: pointer;
  color: red;
}
.product .product_item .product_content p {
  color: gray;
  margin-top: 5px;
  font-size: 15px;
  text-transform: uppercase;
}
.product .product_item .product_content .product_price {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.banner {
  background-image: url("./../img/banner_1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

footer {
  margin: 50px 0;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer a {
  text-decoration: none;
  color: black;
}
footer .footer_contact nav ul li a i {
  padding-right: 15px;
}
footer .footer_right {
  display: flex;
  justify-content: space-around;
}
footer .footer_right .footer_about li {
  margin: 20px 0;
}
footer .footer_right .footer_about li a {
  transition: all 0.5s;
}
footer .footer_right .footer_about li a:hover {
  color: #0a58ca;
}
footer .footer_right .footer_support li {
  margin: 20px 0;
}
footer .footer_right .footer_support li a {
  transition: all 0.5s;
}
footer .footer_right .footer_support li a:hover {
  color: #0a58ca;
}

@media screen and (max-width: 576px) {
  .copy_right {
    display: none;
  }
}
/* BACK TO TOP */
.back_to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: red;
  padding: 15px 20px;
  color: white;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 576px) {
  .back_to_top {
    display: none;
  }
}

body .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */