$fs-color-word: black;
//--------HEADER--------
header {
  nav.navbar {
    .container-fluid {
      .navbar-brand {
      }
      button {
      }
      .navbar-collapse {
        ul {
          li {
            margin: 0 30px;
            a {
              font-size: 20px;
            }
          }
          li.nav_group {
            display: flex;
            align-items: center;
            a.bar {
              margin-left: 15px;
              border-left: 1px solid rgba(0, 0, 0, 0.1);
              height: 30px;
              //   position: relative;
              //   vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
// --------DETAIL PRODUCT--------
.product {
  margin-bottom: 200px;
  .product_item {
    .product_img {
      height: 500px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border: solid 1px #f0eeee;
      border-radius: 12px;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .product_content {
      h6 {
        transition: all 0.5s;
        &:hover {
          cursor: pointer;
          color: #0a58ca;
        }
      }
      p {
      }
      .product_price {
        font-weight: bold;
      }
    }
  }
}
// --------FOOTER--------
footer {
  margin: 50px 0;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
  }
  a {
    text-decoration: none;
    color: $fs-color-word;
  }
  .footer_contact {
    nav {
      ul {
        li {
          a {
            i {
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
  .footer_right {
    display: flex;
    justify-content: space-around;
    .footer_about {
      li {
        margin: 20px 0;
        a {
          transition: all 0.5s;
          &:hover {
            color: #0a58ca;
          }
        }
      }
    }
    .footer_support {
      li {
        margin: 20px 0;
        a {
          transition: all 0.5s;
          &:hover {
            color: #0a58ca;
          }
        }
      }
    }
  }
}
