* {
  font-family: "Roboto", sans-serif;
}
$fs-color-word: black;

//--------HEADER--------
header {
  nav.navbar {
    .container-fluid {
      .navbar-brand {
      }
      button {
      }
      .navbar-collapse {
        ul {
          li {
            margin: 0 30px;
            a {
              font-size: 20px;
            }
          }
          li.nav_group {
            display: flex;
            align-items: center;
            a.bar {
              margin-left: 15px;
              border-left: 1px solid rgba(0, 0, 0, 0.1);
              height: 30px;
              //   position: relative;
              //   vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

//--------SLIDER--------
.slider {
  .carousel-inner {
    .carousel-item {
      height: 60vh;
    }
  }
}

// --------PRODUCT--------
.product {
  margin-top: 50px;
  .product_item {
    .product_img {
      height: 300px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border: solid 1px #f0eeee;
      border-radius: 12px;
      margin-bottom: 10px;

      a {
        img {
          width: 100%;
          transition: all 0.5s;
          &:hover {
            transform: scale(1.15); /* Tăng kích thước khi hover */
            cursor: pointer;
          }
        }
      }
    }

    .product_content {
      text-align: center;
      a {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        font-size: 20px;
        transition: all 0.5s;

        &:hover {
          cursor: pointer;
          color: red;
        }
      }
      p {
        color: gray;
        margin-top: 5px;
        font-size: 15px;
        text-transform: uppercase;
      }
      .product_price {
        font-weight: bold;
        font-size: 20px;
        color: red;
      }
    }
  }
}

// --------BANNER--------
.banner {
  background-image: url("./../img/banner_1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

// --------FOOTER--------
footer {
  margin: 50px 0;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
  }
  a {
    text-decoration: none;
    color: $fs-color-word;
  }
  .footer_contact {
    nav {
      ul {
        li {
          a {
            i {
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
  .footer_right {
    display: flex;
    justify-content: space-around;
    .footer_about {
      li {
        margin: 20px 0;
        a {
          transition: all 0.5s;
          &:hover {
            color: #0a58ca;
          }
        }
      }
    }
    .footer_support {
      li {
        margin: 20px 0;
        a {
          transition: all 0.5s;
          &:hover {
            color: #0a58ca;
          }
        }
      }
    }
  }
}

/* BACK TO TOP */
.back_to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: red;
  padding: 15px 20px;
  color: white;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
}

body .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
